*{
    padding:0;
    margin:0;
}
body{
    background-color:dimgray;
    color:white;
}
html{
    scroll-behavior: smooth;
}
.shower{
    background-image: url(home.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
.navbar-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:20px;
}
.navbar-container .navbar-menu{
    display:flex;
    list-style: none;
    gap:40px;
}
.navbar-container .navbar-menu li a{
    text-decoration: none;
    color:white;
    font-size:25px;
}
.navbar-toggle{
    background: transparent;
    cursor:pointer;
    border:none;
    display:none;
}
.bar{
    width:25px;
    background-color: white;
    height:3px;
    display:block;
    margin:5px auto;
}
.navbar-logo{
    color:white;
    font-size:40px;
}
.show{
    text-align:center;
    padding:13%;
    color:brown;
}
.show h1{
    font-size:40px;
}
.show p{
    font-size:30px;
    padding: 20px;
}
#about h1{
    padding:30px;
    text-align: center;
    margin-left:30%;
    font-size:40px;
}
#about{
    display: grid;
    grid-template-columns:repeat(2, 3fr);
    padding:30px;
}
#about p{
    font-size:25px;
}
img{
    height:80%;
    width:80%;
    padding:20px;
    border-radius: 10%;
}
 h2{
    padding:25px;
    margin-left: 27%;
    font-size:40px;
}
.services h3{
    padding:10px;
    font-size:25px;
}
#services h2{
    padding:50px 0;
}
.services{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap:20px;
    padding:30px;
    text-align:center;
}
.services img{
    width:300px;
    height:300px;
    transition: 0.15s ease;
}
.services-card img{
    padding:25px;
    text-align: center;
    font-size:20px;
    transition: 0.5s ease;
}
.services-card img:hover{
    transform: translateY(-15px);
    background-color:brown;
}
.services p{
    font-size:20px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
    gap:25px;
}
#project h2{
    padding:80px 0;
}

.project-card {
 padding:25px;
 margin:25px;
 border-radius: 12px;
 box-shadow: 0 10px 10px rgba(0,0,0,0.5);
 transition: 0.5s ease;
 }

.project-card a {
display:inline-block;
padding:8px;
background-color: black;
color:white;
border-radius: 5px;
text-decoration: none;
font-size: 0.9rem;
 }
.project-card p {
 margin-bottom:15px;
opacity:0.9;
}
.project-card:hover{
    transform:translateY(-15px);
    background-color:brown;
}
.project-card a:hover{
    background-color: brown;
}
#contact h1{
    margin-left:25%;
    padding:35px;
    font-size:40px;
}
#contact p{
    margin-left:25%;
    font-size:25px;
    padding-bottom: 30px;
}
footer{
    background-color:black;
    text-align: center;
    font-size:25px;
    padding:15px;
}
@media(max-width:700px){
    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        height:70vh;
        position:absolute;
        right:0;
        top:0;
        padding-top:100px;
        width:100%;
        background-color:black;
        text-align: center;
    }
    footer{
        font-size:20px;
        padding:15px;
    }
    #about p{
        font-size:25px;
    }
    #contact h1{
        font-size:20px;
    }
    #contact p{
        font-size:15px;
        padding-bottom: 10px;;
    }
    .services img{
        width:70%;
        height:70%;
        padding: 10px 0;
    }
    .services p{
        font-size:12px;
    }
    #about h1{
        font-size:25px;
        text-align: center;
        margin-left:5%;
    }
    h2{
        font-size:20px;
    }
    #about{
        display:block;
    }
    .projects{
        display:block;
    }
    #project h2{
    margin-top:40px;
}
    img{
        width:100%;
        height:100%;
        padding:10% 0;
        border-radius:13%;
    }
    .shower{
        height:80vh;
    }
    .navbar-toggle{
        display:block;
        z-index:999;
    }
    .navbar-container .navbar-menu.active{
        display:flex;
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity:0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}
